---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCE = [
  {
    date: "Noviembre 2023 - Actualmente...",
    title: "Desarrollador RPA",
    company: "Kpaz - Scotiabank",
    description:
      "Monitoreo proactivo de RPAs, análisis de datos y mantenimiento para asegurar la continuidad y efectividad operativa de los robots. Resolución ágil de incidentes, Orquestación de robots a producción y ambientación de máquinas. Enfocado en la eficiencia para asegurar los menores tiempos en las tareas automatizadas del banco. ",

  },
  {
    date: "Agosto 2023 - Noviembre 2023",
    title: "Desarrollador RPA",
    company: "Axity - Sura",
    description:
      "Diseño, programación e implementación de procesos RPA para sistemas y aplicaciones web internas de Sura, colaboración directa con usuarios para identificar  y solucionar problemas mediante automatización. Mejora continua aplicada en proyectos de RPA asignados.",
  },
  {
    date: "2019 - Marzo 2023",
    title: "Desarrollador RPA",
    company: "DHL Supply Chain",
    description:
      "Programación e implementación de procesos RPA para sistemas internos enfocados en logística y operaciones. Enfocado principalmente en la disminución de la carga operativa en procesos fundamentales para el correcto funcionamiento, garantizando una mayor eficiencia y productividad.",
  },

]
---

<ol class="relative mt-16">
  {
    EXPERIENCE.map((experience) => (
      <li class="">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
